{% extends "layout.html" %}
{{file_status}}

{% block common_stats_content %}
<!-- trash files count table-->

<style>
.w3-table {
  border-collapse: collapse;
  counter-reset: schetchik;  /* счётчик с названием "schetchik" работает в рамках класса .demotable */ 
}
.w3-table tbody tr {
  counter-increment: schetchik;  /* при встрече тега tr счётчик с названием "schetchik" увеличивается на единицу */ 
}
.w3-table td,
.w3-table  tbody tr:before {
  padding: .1em .5em;
  border: 1px solid #E7D5C0;
}
.w3-table  tbody tr:before {
  content: counter(schetchik);  /* значение счётчика с названием "schetchik" записывается в первую клетку строки */ 
  display: table-cell;
  vertical-align: middle;
  color: #978777;
@media print
}
</style>

<h2>Достижения</h2>

<div class="w3-container" style="margin-top:15px">
  <table class="w3-table w3-striped w3-border" style="float: left; width: 33%;">
    <thead class="w3-green">
      <th colspan="3">Количество ссылок и файлов</th>
    </thead>
      {% for item in users_data[0] %}
      {% set username = item[0] %}
      {% set num = item[1] %}      
          <tr><td>{{ username }}</td><td>{{ num }}</td></tr>
      {% endfor %}      
  </table>

  <table class="w3-table w3-striped w3-border" style="float: left; width: 33%;">
    <thead class="w3-green">
      <th colspan="3">Индекс продуктивности(%)</th>
    </thead>
      {% for item in users_data[1] %}
      {% set username = item[0] %}
      {% set num = item[1] %}      
          <tr><td>{{ username }}</td><td>{{ num }}</td></tr>
      {% endfor %}      
  </table>

  <table class="w3-table w3-striped w3-border" style="loat: left; width: 33%;">
    <thead class="w3-green">
      <th colspan="3">Индекс сквернословия</th>
    </thead>
      {% for item in users_data[2] %}
      {% set username = item[0] %}
      {% set num = item[1] %}      
          <tr><td>{{ username }}</td><td>{{ num }}</td></tr>
      {% endfor %}      
  </table>
 </div>

{% endblock %}

{% block user_stats_content %}

  {% for sender, data in data_dict.items() %}
  <div class="w3-container" id="{{'%s' % sender}}" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-green"><b>{{sender}}</b></h1>
    <hr style="width:50px;border:5px solid green" class="w3-round">  
<!-- Values for tables-->    
  {% set chars = data[1][0]  %}
  {% set numWords = data[1][1]  %}
  {% set avgWords = data[1][2]  %}
  {% set numFiles = data[0]['media_files'] %}
  {% set numLinks = data[0]['links']  %}
  {% set List10longWords = data[2]  %}
  {% set List20freqWords = data[3]  %}
  {% set skvernIndx = data[1][3]  %}

<!-- Charts-->
<script type="text/javascript">
        
$(document).ready(function() {
var dataPoints = [];
var dataItems = [];
<!-- Column chart posts by date -->
$.getJSON("{{ url_for('static', filename='data_by_senders/%s/posts_by_date.json' % sender) }}", function(data) {  
	$.each(data, function(key, value){
		dataPoints.push({x: new Date(value[0]), y: parseInt(value[1])});
        dataItems.push(parseInt(value[1]))
       <!-- dataPoints_middle.push({x: new Date(value[0]), y: parseInt(value[1])}); -->
	});
    
        var sum = dataItems.reduce(add, 0);

        function add(a, b) {
        return a + b;  }
    
    averagePosts = sum/dataItems.length    
    
	var chart = new CanvasJS.Chart("{{'chartContainer_%s' % sender}}",{
        
        axisY:{
        stripLines:[
            {
             value:averagePosts,                                
             color:"grey",
             label : "Average posts per day: ".concat(Math.round(averagePosts)),
             labelFontColor: "green",
             labelFontSize: 14,
             labelFontWeight: "bold",
             labelFontStyle: "italic",
             lineDashType: "dot",
             showOnTop: true,
            }
                   ]
              },
        
		title:{
			text:"Количество постов по датам"
		      },
		data: [{  
			type: "column",
            color:"Lightgray",
			dataPoints : dataPoints,
		      }]    
	});
	chart.render();
});
})
</script>

<div id="{{'chartContainer_%s' % sender}}" style="height: 300px; width: 100%;"></div>

<!-- Column chart posts by shifts -->
<script type="text/javascript">
$(document).ready(function() {
var dataPoints = []; 
$.getJSON("{{ url_for('static', filename='data_by_senders/%s/posts_by_shifts.json' % sender) }}", function(data) {  
	$.each(data, function(key, value){
		dataPoints.push({name: (value[0]), y: parseInt(value[1])});
        
	});
	var chart = new CanvasJS.Chart("{{'chartContainer2_%s' % sender}}",{            
		title:{
			text: "Посты по времени суток(%)",
			fontFamily: "arial black"
               },
                animationEnabled: true,
		legend: {
			verticalAlign: "bottom",
			horizontalAlign: "center"
		        },
		theme: "theme1",
		data: [
		{        
		 type: "pie",
		 indexLabelFontFamily: "Garamond",       
		 indexLabelFontSize: 20,
		 indexLabelFontWeight: "bold",
		 startAngle:0,
		 indexLabelFontColor: "MistyRose",       
		 indexLabelLineColor: "darkgrey", 
		 indexLabelPlacement: "inside", 
		 toolTipContent: "{name}: {y} posts",
		 showInLegend: true,
		 indexLabel: "#percent%", 
		 dataPoints: dataPoints
		}]
	});
	chart.render();
});
})
</script> 

  
<!-- -----------------------TABLES--------------------------------- -->
  
<!-- Table num words stats -->
<div class="w3-container">
  <h2>Статистика слов</h2>

  <table class="w3-table w3-striped w3-border" style="float: left; width: 1000px">
    <thead class="w3-green">
      <th colspan="2">Количество символов</th>
      <th>Количество слов</th>
      <th>Средняя длина слова</th>
      <th>Количество отправленных файлов</th>
      <th>Количество отправленных ссылок</th>
      <th>Индекс сквернословия(% сообщений+% слов)</th>      
    </thead>
    
    <tr>
      <td>{{ chars }}</td>
      <td>{{ numWords }}</td>
      <td>{{ avgWords }}</td>
      <td>{{ numFiles }}</td>
      <td>{{ numLinks }}</td>
      <td>{{ skvernIndx }}</td>
  
    </tr>
  </table>
</div> 
 
<div class="w3-container" style="margin-top:15px">
  <table class="w3-table w3-striped w3-border" style="float: left; width: 500px;">
    <thead class="w3-green">
      <th colspan="3">10 самых длинных слов</th>
    </thead>
      {% for word in List10longWords  %} 
      {% set wordName = word[0] %}
      {% set wordNum =word[1] %}      
          <tr><td>{{ wordName }}</td><td>{{ wordNum }}</td></tr>
      {% endfor %}      
 
  </table>
  
    <table class="w3-table w3-striped w3-border" style="float: left; width: 500px;">
    <thead  class="w3-green">
      <th colspan="3">20 наиболее частых слов</th>
    </thead> 
      {% for word in List20freqWords  %}
      {% set wordFreqName = word[0] %}
      {% set wordFreqNum =word[1] %}     
          <tr><td>{{ wordFreqName }}</td><td>{{ wordFreqNum }}</td></tr>
      {% endfor %}

  </table>
<div id="{{'chartContainer2_%s' % sender}}" style="loat: left; height: 300px; width: 35%;"></div> 
</div>
</div>

  {% endfor %}
<br style="page-break-after: always">  
  
{% endblock %}
