<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<script  type="text/javascript" src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
<script  type="text/javascript" src="{{ url_for('static', filename='canvasjs.min.js') }}"></script>
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}

</style>




<body>
<!-- Sidenav/menu -->

<nav class="w3-sidenav w3-green w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidenav"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-padding-xlarge w3-hide-large w3-display-topleft w3-hover-white" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-text-white"><b>Chat members</b></h3>
    <a href="#" onclick="w3_close()" class="w3-padding-small">Home</a>
  </div>


   <ul class="tab-nav">      
      {% for sender in list_of_senders %}
      <li><a href="{{'#%s' % sender}}" onclick="w3_close()" class="w3-padding w3-hover-white">{{sender}}</a></li>
      {% endfor %}
   </ul>

</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-green w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-green w3-margin-right" onclick="w3_open()">☰</a>
  <span>WA parsing</span>
</header>

<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">
<div class="w3-panel w3-green">
  <h2 class="w3-opacity">Choose your WA log file and upload for processing </h2>
</div>     

<form action="upload" method="post" enctype="multipart/form-data">
    <input type="file"name="file">
    <input type="submit" value="Upload">
</form>    
    
{{file_status}}

  
<div class="contentContainer">
{% for sender in list_of_senders %}
<script type="text/javascript">
        
$(document).ready(function() {
var dataPoints = [];
var dataItems = [];
<!-- Column chart posts by date -->
$.getJSON("{{ url_for('static', filename='data_by_senders/%s/posts_by_date.json' % sender) }}", function(data) {  
	$.each(data, function(key, value){
		dataPoints.push({x: new Date(value[0]), y: parseInt(value[1])});
        dataItems.push(parseInt(value[1]))
       <!-- dataPoints_middle.push({x: new Date(value[0]), y: parseInt(value[1])}); -->
	});
    
        var sum = dataItems.reduce(add, 0);

        function add(a, b) {
        return a + b;  }
    
    averagePosts = sum/dataItems.length    
    
	var chart = new CanvasJS.Chart("{{'chartContainer_%s' % sender}}",{
        
        axisY:{
        stripLines:[
            {
             value:averagePosts,                                
             color:"grey",
             label : "Average posts per day: ".concat(Math.round(averagePosts)),
             labelFontColor: "green",
             labelFontSize: 14,
             labelFontWeight: "bold",
             labelFontStyle: "italic",
             lineDashType: "dot",
             showOnTop: true,
            }
                   ]
              },
        
		title:{
			text:"Posts by date"
		      },
		data: [{  
			type: "column",
            color:"Lightgray",
			dataPoints : dataPoints,
		      }]    
	});
	chart.render();
});
})
</script>

<!-- Column chart posts by shifts -->
<script type="text/javascript">
$(document).ready(function() {
var dataPoints = []; 
$.getJSON("{{ url_for('static', filename='data_by_senders/%s/posts_by_shifts.json' % sender) }}", function(data) {  
	$.each(data, function(key, value){
		dataPoints.push({name: (value[0]), y: parseInt(value[1])});
        
	});
	var chart = new CanvasJS.Chart("{{'chartContainer2_%s' % sender}}",{            
		title:{
			text: "All posts by shifts",
			fontFamily: "arial black"
               },
                animationEnabled: true,
		legend: {
			verticalAlign: "bottom",
			horizontalAlign: "center"
		        },
		theme: "theme1",
		data: [
		{        
		 type: "pie",
		 indexLabelFontFamily: "Garamond",       
		 indexLabelFontSize: 20,
		 indexLabelFontWeight: "bold",
		 startAngle:0,
		 indexLabelFontColor: "MistyRose",       
		 indexLabelLineColor: "darkgrey", 
		 indexLabelPlacement: "inside", 
		 toolTipContent: "{name}: {y} posts",
		 showInLegend: true,
		 indexLabel: "#percent%", 
		 dataPoints: dataPoints
		}]
	});
	chart.render();
});
})
</script>    
    
<div class="{{'%s' % sender}}"  style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-green"><b>{{sender}}</b></h1>
    <hr style="width:50px;border:5px solid green" class="w3-round">    
    <div id="{{'chartContainer_%s' % sender}}" style="height: 300px; width: 100%;"></div>
    <div id="{{'chartContainer2_%s' % sender}}" style="height: 300px; width: 100%;"></div>
</div> 
    
{% endfor %}
    
<script>
$(function(){
  $('.tab-nav li:first').addClass('select');                // Первой вкладке добавляетсякласс select
  $('.contentContainer>div').hide().filter(':first').show();      // Скрываются все блоки с описанием вкладок кроме первого
  $('.tab-nav a').click(function(){                         // При клике на вкладку
    $('.contentContainer>div').hide().filter(this.hash).show();   // - показывается блок с описанием текущей вкладки
    $('.tab-nav li').removeClass('select');                 // - удаляется класс 'select' у активной ранее вкладки
    $(this).parent().addClass('select');                    // - добавляется класс 'select' для выбранной вкладки
    return (false);                                         // - прерывается обработка события onClick
  })
})

</script>
<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered with <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a></p></div>

<script>
// Script to open and close sidenav
function w3_open() {
    document.getElementById("mySidenav").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidenav").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>

