<!DOCTYPE html>
<html>
<title>TEST</title>

<script  type="text/javascript" src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
<script  type="text/javascript" src="{{ url_for('static', filename='canvasjs.min.js') }}"></script>


<!--script type="text/javascript" src="{{
  url_for('static', filename='data_by_senders/posts_by_date_line.js') }}">
</script-->
<script type="text/javascript">
        
$(document).ready(function() {
var dataPoints = [];

$.getJSON("{{ url_for('static', filename='data_by_senders/posts_by_date.json') }}", function(data) {  
	$.each(data, function(key, value){
		dataPoints.push({x: new Date(value[0]), y: parseInt(value[1])});
	});
	var chart = new CanvasJS.Chart("chartContainer",{
		title:{
			text:"{{'Post by data Chart'}}"
		},
		data: [{
			type: "line",
			dataPoints : dataPoints,
		}]
	});
	chart.render();
});
})
</script>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<body>
   
</body>
</html>

